/*QPushButton {
     color: red;
}

QTableView::item
{
  border: 0px;
  padding: 5px;
  border: 1px solid black;
}*/
QTableViewItem{
  margin: 15px;
  border: none;
}

/*QLabel{
	border: 1px solid black;
}*/
